body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}


.head {
    background: url(images/header.jpg) no-repeat 100% 34%;
    background-size: cover;
    height: 800px;
    color: #fff;
    text-shadow: 2px 3px 7px rgb(0, 0, 0);
}


.head .title {
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    text-align: center;
    padding-top: 420px;
}

.head .title .small {
    font-size: 38px;
    line-height: 33px;
    font-weight: 300;
}

.head .title .big {
    font-size: 82px;
    line-height: 97px;
    font-weight: 300;
}
