<div class="start">
    <h1 data-lang-en="The bridal party" data-lang-se="Bröllopsfölje"></h1>

    <p data-lang-en="Here is an introduction to the wedding party, along with some other people you may want to know about in advance."
       data-lang-se=""></p>



    <div class="content-row">
        <div class="left-col">
            <img class="mini" src="/assets/images/olivia.jpg">
        </div>

        <div class="right-col">
            <h3 data-lang-en="Made of honour" data-lang-se="Brudtärna"></h3>
            <h4 data-lang-en="Olivia" data-lang-se="Olivia"></h4>

            <p data-lang-en="The bride's best friend and also roommate. They have been together through thick and thin during their teenage years."
                data-lang-se="Brudens bästa vän."></p>
        </div>
    </div>

    <div class="content-row">
        <div class="left-col">
            <img class="mini" src="/assets/images/alex.svg">
        </div>

        <div class="right-col">
            <h3 data-lang-en="Best man" data-lang-se="Bestman"></h3>
            <h4 data-lang-en="Alex" data-lang-se="Alex"></h4>

            <p data-lang-en="The groom's older brother. They have always been thight while growing up. They are very much alike and enjoy doing the same things. Which has kept their friendship even thighter throughout the years."
                data-lang-se="Brudens bästa vän."></p>
        </div>
    </div>    

</div>