<div class="gallery">
    <h1 data-lang-en="Gallery" data-lang-se="Galleri"></h1>
    <p data-lang-en="Post an image to instagram using the hashtag <a target='_blank' href='https://www.instagram.com/explore/tags/{hashtag}'>#{hashtag}</a> and the image will show up on this page."
        data-lang-se="Ladda upp en bild på instagram och använd hashtag <a target='_blank' href='https://www.instagram.com/explore/tags/{hashtag}'>#{hashtag}</a> så kommer bilden att visas upp på denna sidan."></p>
    <div class="instagram-feed"></div>

    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>

    <div class="fullSizeImage">
        <div class="image-container">
        </div>
    </div>
</div>

<script>
    let instagramImages = [];
    const fullSizeImage = document.querySelector(".fullSizeImage");
    const fullSizeImageContainer = fullSizeImage.querySelector(".image-container");
    const loadingIndicator = document.querySelector(".lds-ring");

    function displayFullSizeImage(source) {
        fullSizeImage.classList.add("visible");
        fullSizeImageContainer.innerHTML = "";
        const image = new Image();
        image.src = source;
        fullSizeImageContainer.appendChild(image);
    }

    function hideFullSizeImage() {
        fullSizeImage.classList.remove("visible");
    }

    function showLoadingIndicator() {
        loadingIndicator.classList.add("visible");
    }

    function hideLoadingIndicator() {
        loadingIndicator.classList.remove("visible");
    }

    async function loadInstagramFeedAsync() {
        fullSizeImage.onclick = () => hideFullSizeImage();
        try {
            showLoadingIndicator();
            const result = await getRequestAsync(`/api/instagram/${state.hashtag}`);
            if (result.length > 0) {
                const images = JSON.parse(result);
                const feed = document.querySelector(".instagram-feed");
                images.forEach(x => {
                    instagramImages.push(x);
                    const img = new Image();
                    img.onclick = () => displayFullSizeImage(x.displayUrl);
                    img.src = x.thumbnailUrl;
                    feed.appendChild(img);
                })
            }
        } finally {
            hideLoadingIndicator();
        }
    }
    loadInstagramFeedAsync();
</script>