<div class="start">        
    <h1 data-lang-en="Important information" data-lang-se="Viktig information"></h1>

    <p data-lang-en="Here is some information that may be useful to know:" 
       data-lang-se="Här är lite information som kan vara bra att veta:">


       <div class="content-row">
        <div class="left-col">
            <img class="mini" src="/assets/images/dresscode.jpg">
        </div>

        <div class="right-col">
            <h3 data-lang-en="Dress code" data-lang-se="Dresscode"></h3>
            <h4 data-lang-en="Clothes, yes please" data-lang-se="Kläder, ja tack!"></h4>

            <p data-lang-en="That means dark suits for men and a dress or skirt of finer fabric for ladies."
                data-lang-se=""></p>

            <p data-lang-en="Dress color for ladies should not be solid black, white or red."
                data-lang-se=""></p>                
        </div>
    </div>       

    <div class="content-row">
        <div class="left-col">
            <img class="mini" src="/assets/images/children.jpg">
        </div>

        <div class="right-col">
            <h3 data-lang-en="Children" data-lang-se="Barn"></h3>
            <h4 data-lang-en="Not today" data-lang-se="Inte idag"></h4>

            <p data-lang-en="We love your kids, but on this day we would like them to stay home."
                data-lang-se=""></p>

            <p data-lang-en="Chilren who are breastfed are welcome, of course."
                data-lang-se=""></p>                                
        </div>
    </div>
    

    <div class="content-row">
        <div class="left-col">
            <img class="mini" src="/assets/images/photography.jpg">
        </div>

        <div class="right-col">
            <h3 data-lang-en="Photography" data-lang-se="Fotografering"></h3>
            <h4 data-lang-en="Yes please, #{hashtag}" data-lang-se="Ja tack, #{hashtag}"></h4>

            <p data-lang-en="You may take as many picture as you would like. But please try and share them on instagram using the hashtag #{hashtag} to ensure that everyone can enjoy the pictures!"
                data-lang-se=""></p>

            <p data-lang-en="You may of course still take your own private pictures, but please share them with the bride and groom."
                data-lang-se=""></p>                                
        </div>
    </div>          

</div>