<div class="rsvp">
        <h1 data-lang-en="R.S.V.P." data-lang-se="OSA"></h1>

        <p data-lang-en="If you have any questions you are welcome to contact us by phone or email." data-lang-se="Om du har några frågor är du vällkommen att kontakta oss via telefon eller e-post."></p>

        <div class="text-row" data-lang-en="Tel {contact.bride.name} - {contact.bride.phone}, <a href='mailto:{contact.bride.email}'>{contact.bride.email}</a>"
                data-lang-se="Tel {contact.bride.name} - {contact.bride.phone}, <a href='mailto:{contact.bride.email}'>{contact.bride.email}</a>"></div>

        <div class="text-row" data-lang-en="Tel {contact.groom.name} - {contact.groom.phone}, <a href='mailto:{contact.groom.email}'>{contact.groom.email}</a>"
                data-lang-se="Tel {contact.groom.name} - {contact.groom.phone}, <a href='mailto:{contact.groom.email}'>{contact.groom.email}</a>"></div>

        <p data-lang-en="To make sure that all our guests will be feed properly we ask you to fill in what type of food that suits you. Several yes are possible. Add information of allergies or other things we need to know about."
           data-lang-se="För att alla ska bli mätta och nöjda ber vi dig fylla i vilken typ av mat som passar dig. Flera ja är förstås möjliga. Komplettera med ev allergier eller annat som vi behöver veta."></p>

        <div class="spacer"></div>

        <div class="form">
                <div class="form-content">
                        <div class="form-row">
                                <div class="input">
                                        <label for="firstname" data-lang-en="First name" data-lang-se="Förnamn"></label>
                                        <input type="text" id="firstname" data-bind-value="rsvp.firstName" />
                                </div>
                                <div class="input">
                                        <label for="lastname" data-lang-en="Last name" data-lang-se="Efternamn"></label>
                                        <input type="text" id="lastname" data-bind-value="rsvp.lastName" />
                                </div>
                        </div>
                        <div class="form-row">
                                <div class="input">
                                        <label for="email" data-lang-en="E-mail" data-lang-se="E-post"></label>
                                        <input type="email" id="email" data-bind-value="rsvp.email" />
                                </div>
                                <div class="input">
                                        <label for="phone" data-lang-en="Phone" data-lang-se="Telefon"></label>
                                        <input type="tel" id="phone" data-bind-value="rsvp.phone" />
                                </div>
                        </div>
                        <div class="form-row">
                                <div class="check">
                                        <div class="label" data-lang-en="The wedding" data-lang-se="Brölloppet"></div>
                                        <div class="choice">
                                                <label for="wedding_yes" data-lang-en="Yes" data-lang-se="Ja"></label>
                                                <input type="radio" id="wedding_yes" id="wedding_yes" name="wedding"
                                                        data-bind-checked="rsvp.attendance.wedding" />
                                                <label for="wedding_no" data-lang-en="No" data-lang-se="Nej"></label>
                                                <input type="radio" id="wedding_no" name="wedding" data-bind-checked="!rsvp.attendance.wedding" />
                                        </div>
                                </div>
                        </div>
                        <div class="form-row">
                                <div class="check">
                                        <div class="label" data-lang-en="The after wedding cermony" data-lang-se="Bröllopsfesten"></div>
                                        <div class="choice">
                                                <label for="cermony_yes" data-lang-en="Yes" data-lang-se="Ja"></label>
                                                <input type="radio" id="cermony_yes" name="cermony" data-bind-checked="rsvp.attendance.cermony" />
                                                <label for="cermony_no" data-lang-en="No" data-lang-se="Nej"></label>
                                                <input type="radio" id="cermony_no" name="cermony" data-bind-checked="!rsvp.attendance.cermony" />
                                        </div>
                                </div>
                        </div>
                        <div class="form-row">
                                <div class="check">
                                        <div class="label" data-lang-en="I prefer to eat meat" data-lang-se="Jag föredrar att äta kött"></div>
                                        <div class="choice">
                                                <label for="meat_yes" data-lang-en="Yes" data-lang-se="Ja"></label>
                                                <input type="radio" id="meat_yes" name="meat" data-bind-checked="rsvp.food.meat" />
                                                <label for="meat_no" data-lang-en="No" data-lang-se="Nej"></label>
                                                <input type="radio" id="meat_no" name="meat" data-bind-checked="!rsvp.food.meat" />
                                        </div>
                                </div>
                        </div>
                        <div class="form-row">
                                <div class="check">
                                        <div class="label" data-lang-en="I prefer to eat fish" data-lang-se="Jag föredrar att äta fisk"></div>
                                        <div class="choice">
                                                <label for="fish_yes" data-lang-en="Yes" data-lang-se="Ja"></label>
                                                <input type="radio" id="fish_yes" name="fish" data-bind-checked="rsvp.food.fish" />
                                                <label for="fish_no" data-lang-en="No" data-lang-se="Nej"></label>
                                                <input type="radio" id="fish_no" name="fish" data-bind-checked="!rsvp.food.fish" />
                                        </div>
                                </div>
                        </div>
                        <div class="form-row">
                                <div class="check">
                                        <div class="label" data-lang-en="I prefer to eat vegetarian" data-lang-se="Jag föredrar vegetariskt"></div>
                                        <div class="choice">
                                                <label for="vegetarian_yes" data-lang-en="Yes" data-lang-se="Ja"></label>
                                                <input type="radio" id="vegetarian_yes" name="vegetarian"
                                                        data-bind-checked="rsvp.food.vegetarian" />
                                                <label for="vegetarian_no" data-lang-en="No" data-lang-se="Nej"></label>
                                                <input type="radio" id="vegetarian_no" name="vegetarian"
                                                        data-bind-checked="!rsvp.food.vegetarian" />
                                        </div>
                                </div>
                        </div>
                        <div class="form-row">
                                <div class="check">
                                        <div class="label" data-lang-en="I only eat vegan" data-lang-se="Jag äter endast vegan"></div>
                                        <div class="choice">
                                                <label for="vegan_yes" data-lang-en="Yes" data-lang-se="Ja"></label>
                                                <input type="radio" id="vegan_yes" name="vegan" data-bind-checked="rsvp.food.vegan" />
                                                <label for="vegan_no" data-lang-en="No" data-lang-se="Nej"></label>
                                                <input type="radio" id="vegan_no" name="vegan" data-bind-checked="!rsvp.food.vegan" />
                                        </div>
                                </div>
                        </div>
                        <div class="form-row">
                                <div class="input-message">
                                        <label for="message" data-lang-en="Message" data-lang-se="Meddelande"></label>
                                        <textarea id="message" data-bind-value="rsvp.message"></textarea>
                                </div>
                        </div>
                        <div class="form-row">
                                <button onclick="sendRSVP()" data-lang-en="Send" data-lang-se="Skicka"></button>
                        </div>
                </div>
        </div>
</div>