<div class="rsvp">
        <h1 data-lang-en="R.S.V.P." data-lang-se="OSA"></h1>

        <p data-lang-en="If you have any questions you are welcome to contact us by phone or email." data-lang-se="Om du har några frågor är du vällkommen att kontakta oss via telefon eller e-post."></p>


        <p>
                <div data-lang-en="Tel {contact.bride.name} - {contact.bride.phone}, <a href='mailto:{contact.bride.email}'>{contact.bride.email}</a>"
                        data-lang-se=""></div>
                <div data-lang-en="Tel {contact.groom.name} - {contact.groom.phone}, <a href='mailto:{contact.groom.email}'>{contact.groom.email}</a>"
                        data-lang-se=""></div>
        </p>

        <div class="form">
                <div class="form-content">
                        <div class="form-row">
                                <div class="input">
                                        <label for="firstname" data-lang-en="First name" data-lang-se="Förnamn"></label>
                                        <input type="text" id="firstname" />
                                </div>
                                <div class="input">
                                        <label for="lastname" data-lang-en="Last name" data-lang-se="Efternamn"></label>
                                        <input type="text" id="lastname" />
                                </div>
                        </div>
                        <div class="form-row">
                                <div class="input">
                                        <label for="email" data-lang-en="E-mail" data-lang-se="E-post"></label>
                                        <input type="email" id="email" />
                                </div>
                                <div class="input">
                                        <label for="phone" data-lang-en="Phone" data-lang-se="Telefon"></label>
                                        <input type="tel" id="phone" />
                                </div>
                        </div>
                        <div class="form-row">
                                <div class="check">
                                        <div class="label" data-lang-en="The wedding" data-lang-se="Brölloppet"></div>
                                        <div class="choice">
                                                <input type="radio" />
                                                <input type="radio" />
                                        </div>
                                </div>
                        </div>
                        <div class="form-row">
                                <div class="check">
                                        <div class="label" data-lang-en="The after wedding cermony" data-lang-se="Bröllopsfesten"></div>
                                        <div class="choice">
                                                <input type="radio" />
                                                <input type="radio" />
                                        </div>
                                </div>
                        </div>
                        <div class="form-row">
                                <div class="check">
                                        <div class="label" data-lang-en="I prefer to eat meat" data-lang-se="Jag föredrar att äta kött"></div>
                                        <div class="choice">
                                                <input type="radio" />
                                                <input type="radio" />
                                        </div>
                                </div>
                        </div>
                        <div class="form-row">
                                <div class="check">
                                        <div class="label" data-lang-en="I prefer to eat fish" data-lang-se="Jag föredrar att äta fisk"></div>
                                        <div class="choice">
                                                <input type="radio" />
                                                <input type="radio" />
                                        </div>
                                </div>
                        </div>
                        <div class="form-row">
                                <div class="check">
                                        <div class="label" data-lang-en="I prefer to eat vegetarian" data-lang-se="Jag föredrar vegetariskt"></div>
                                        <div class="choice">
                                                <input type="radio" />
                                                <input type="radio" />
                                        </div>
                                </div>
                        </div>
                        <div class="form-row">
                                <div class="check">
                                        <div class="label" data-lang-en="I only eat vegan" data-lang-se="Jag äter endast vegan"></div>
                                        <div class="choice">
                                                <input type="radio" />
                                                <input type="radio" />
                                        </div>
                                </div>
                        </div>
                        <div class="form-row">
                                <div class="input-message">
                                        <label for="message" data-lang-en="Message" data-lang-se="Meddelande"></label>
                                        <textarea id="message"></textarea>
                                </div>
                        </div>
                </div>
        </div>
</div>