<div class="wedding">
    <img class="top-image" src="/assets/images/wedding.jpg" />
    <h1 data-lang-en="The wedding day" data-lang-se="Bröllopsdagen"></h1>
    <p data-lang-en="Here comes everything you need to know about the actual wedding day." data-lang-se="Här kommer allt du behöver veta om själva bröllopsdagen."></p>

    <div class="content-row">
        <div class="left-col">
            <img class="mini" src="/assets/images/cermony.jpg">
        </div>

        <div class="right-col">
            <h3 data-lang-en="Cermony" data-lang-se="Vigseln"></h3>
            <h4 data-lang-en="Villa belparc" data-lang-se="Villa belparc"></h4>
            <p>
                <div data-lang-en="Date: {formattedDate}" data-lang-se="Datum: {formattedDate}"></div>
                <div data-lang-en="Time: {formattedTime} o'clock" data-lang-se="Tid: Klockan {formattedTime}"></div>
                <div data-lang-en="Address: {address}" data-lang-se="Adress: {address}"></div>
            </p>

            <p data-lang-en="The wedding cermony will be in the very beautiful area of Slottskogen, just outside of Villa Belparc. There are alot of parking oppurtunities around this area and is very easy to get to." 
               data-lang-se="Villa belparc"></p>

            <p data-lang-en="To our friends who always come too late: remember that to a wedding is absolutely forbidden to be late!! You will have to pay for your own food... If you're late." 
               data-lang-se="Villa belparc"></p>               

            <iframe 
                class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2132.95046849509!2d11.944749916006357!3d57.68332038111346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464ff33c9ee0663b%3A0xa839859239992b42!2sVilla+Belparc!5e0!3m2!1ssv!2sse!4v1551468007109" width="600" height="450" frameborder="0" style="border:0; max-width: 100%;" allowfullscreen></iframe>
        </div>
    </div>



    <div class="content-row">
        <div class="left-col">
            <img class="mini" src="/assets/images/after_cermony.jpg">
        </div>

        <div class="right-col">
            <h3 data-lang-en="Mingle after the cermony" data-lang-se="Vigseln"></h3>
            <h4 data-lang-en="Villa belparc" data-lang-se="Villa belparc"></h4>            

            <!-- <p data-lang-en="The party will be held at Villa belparc as well. We will also be serving a buffet with some super delicious food along with a wedding cake." 
               data-lang-se="Villa belparc"></p>

            <p data-lang-en="We will also provide with a welcome drink, and two drinks during the meal. Rest of the drinks will be provided by the bar." 
               data-lang-se="Villa belparc"></p>                -->

               <!-- 
            <iframe 
                class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2132.95046849509!2d11.944749916006357!3d57.68332038111346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464ff33c9ee0663b%3A0xa839859239992b42!2sVilla+Belparc!5e0!3m2!1ssv!2sse!4v1551468007109" width="600" height="450" frameborder="0" style="border:0; max-width: 100%;" allowfullscreen></iframe> -->
        </div>
    </div>    

</div>