<div class="start">
   <img class="top-image" src="/assets/images/welcome.png">
   <h1 data-lang-en="Welcome to our wedding site" data-lang-se="Välkommen till vår bröllopssida"></h1>
   <p data-lang-en="We are glad that you are visiting our website." data-lang-se="Vi är glada att ni besöker vår hemsida.">
   </p>

   <p data-lang-en="Here you will find information about the wedding ceremony and party along with practical details, directions etc. We will be glad if you write a message in our guestbook."
      data-lang-se="Här hittar du information om bröllopsceremonin och festen tillsammans med praktiska detaljer, anvisningar etc. Vi skulle vara glada om du skriver ett meddelande i vår gästbok."></p>

   <p data-lang-en="Do not hesitate to contact us if you have any questions. We would love to see you at our wedding!"
      data-lang-se="Tveka inte att kontakta oss om du har några frågor. Vi ser fram emot att se dig på vårt bröllop!!">
   </p>

   <p data-lang-en="Love," data-lang-se="Kram,">
   </p>

   <p data-lang-en="Nathalie & Karl" data-lang-se="Nathalie & Karl">
   </p>
</div>