<div class="wedding">
    <h1 data-lang-en="Wish list" data-lang-se="Önskelista"></h1>
    <p data-lang-en="The best gift is ouf course that you would come to our wedding."
       data-lang-se="">



       <div class="content-row">
        <div class="left-col">
            <img class="mini" src="/assets/images/honeymoon.jpg">
        </div>

        <div class="right-col">
            <h3 data-lang-en="Honeymoon" data-lang-se="Bröllopsresa"></h3>            

            <p data-lang-en="Most of all, we wish for a contribution to our honeymoon where will be going to the Maldives. If you want to make a contribution, please deposit the gift to our account at Danske Bank clearing number NNNN account number NNNNNNN."
                data-lang-se=""></p>

        </div>
    </div>          
</div>